.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 0fr;
    padding-top: 20px;

    &_animate {
        animation: gridAnimation 1s 1 forwards;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    margin-right: 24px;
}

@keyframes gridAnimation {
    0% {
        grid-template-columns: 1fr 2fr 1fr;
    }
    100% {
        grid-template-columns: 3fr 1fr 0fr;
    }
}
