.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    transition: all 1s;
    padding-top: 20px;

    &_final {
        grid-template-columns: 3fr 1fr 0fr;
        transition: none;
    }

    &_animate {
        grid-template-columns: 3fr 1fr 0fr;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    margin-right: 24px;
}
