.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    transition: all 1s;
    padding-top: 20px;

    &_final {
        grid-template-columns: 0fr 1fr 3fr;
        transition: none;
    }

    &_animate {
        grid-template-columns: 0fr 1fr 3fr;
    }
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    margin-left: 24px;
}
