.contextButton {
    display: flex;
    background: white;
    z-index: 2;
    padding: 0 20px;

    &__main {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f9f9f9;
        color: var(--primary-green);
        font-family: var(--font-spectral-sc);
        font-weight: 600;
        text-transform: uppercase;
        height: 64px;
        min-width: 150px;
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        cursor: pointer;
        padding: 0 18px;

        // &:hover {
        //     background: var(--primary-green-hover);
        // }
    }

    &_active &__main {
        background: var(--primary-green);
        border-color: var(--primary-green);
        color: white;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 27px;
        height: 64px;
        position: relative;
        cursor: pointer;

        &:disabled {
            cursor: auto;

            svg {
                opacity: 0;
            }
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: #f9f9f9;
        }

        svg path {
            stroke: var(--primary-green);
            transition: all 0.1s;
        }
    }

    &_active &__left,
    &_active &__right {
        &::before {
            background: var(--primary-green);
        }

        svg path {
            stroke: white;
        }
    }

    &__right {
        justify-content: flex-end;
        background-image: url('/button-right-bg.svg');
        background-position: left center;
        padding-right: 8px;

        &::before {
            left: -0.5px;
        }

        svg {
            transform: rotate(180deg);
        }
    }

    &__left {
        background-image: url('/button-left-bg.svg');
        background-position: right center;
        padding-left: 8px;

        &::before {
            right: -0.5px;
        }
    }

    &_active &__left {
        background-image: url('/button-left-active-bg.svg');
    }

    &_active &__right {
        background-image: url('/button-right-active-bg.svg');
    }
}
