.container {
    container-type: inline-size;
}

.source {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: var(--font-spectral-sc);
        // line-height: calc(1.2 * 3.5cqw);
        color: var(--primary-green);
        font-size: 28px;
        text-align: center;
        max-width: 500px;
        will-change: line-height;
        transform: translateZ(0);
        margin: 0 0 26px;

        &_decrease {
            animation: decreaseTitle 1s 1 forwards;
        }

        &_increase {
            animation: increaseTitle 1s 1 forwards;
        }
    }

    &__text {
        font-size: 18px;

        &_decrease {
            animation: decreaseFont 1s 1 forwards;
        }

        &_increase {
            animation: increaseFont 1s 1 forwards;
        }

        p {
            font-family: var(--font-spectral);
            line-height: 0;
            will-change: margin-bottom;
            transform: translateZ(0);

            &:not(:last-child) {
                margin: 0 0 calc(1.5 * 2.5cqw);
            }
        }
    }
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-spectral-sc);
    font-weight: 500;
    font-size: 16px;
    height: 38px;
    border-top: 1px solid #d4d4d4;
}

@keyframes increaseFont {
    0% {
        font-size: 11px;
        line-height: calc(1.5 * 11px);
    }
    100% {
        font-size: 18px;
        line-height: calc(1.5 * 18px);
    }
}

@keyframes decreaseFont {
    0% {
        font-size: 18px;
        line-height: calc(1.5 * 18px);
    }
    100% {
        font-size: 11px;
        line-height: calc(1.5 * 11px);
    }
}

@keyframes increaseTitle {
    0% {
        font-size: 22px;
        line-height: calc(1.2 * 22px);
    }
    100% {
        font-size: 28px;
        line-height: calc(1.2 * 28px);
    }
}

@keyframes decreaseTitle {
    0% {
        font-size: 28px;
        line-height: calc(1.2 * 28px);
    }
    100% {
        font-size: 22px;
        line-height: calc(1.2 * 22px);
    }
}
