.controls {
    display: flex;
    gap: 10px;
    margin-top: -60px;

    &_right {
        flex-direction: row-reverse;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 26px;
        font-family: var(--font-spectral-sc);
        color: var(--text-green-color);
        font-size: 20px;
        font-weight: 600;
        margin-top: -9px;
    }

    &_right &__items {
        align-items: flex-start;
    }

    &__item {
        cursor: pointer;
        text-underline-offset: 0;
        text-decoration-color: white;
        transition: all 0.2s;

        &:hover {
            color: var(--primary-green-hover);
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            text-decoration-color: var(--primary-green-hover);
        }
    }

    &_right &__decor {
        transform: rotate(180deg);
    }
}
